#mainL {
	width: 374px;
	margin-left: auto;
	margin-right: auto;
}

#get {
	text-align: center;
	float: middle;
	color: #204080;
	-webkit-text-shadow: 1px 1px 8px rgba(0, 0, 0, 0.6);
	-moz-text-shadow: 1px 1px 8px rgba(0, 0, 0, 0.6);
	-o-text-shadow: 1px 1px 8px rgba(0, 0, 0, 0.6);
	-ms-text-shadow: 1px 1px 8px rgba(0, 0, 0, 0.6);
	text-shadow: 1px 1px 8px rgba(0, 0, 0, 0.6);
}

#started {
	margin-bottom: 0;
	color: #E06040;
	display: inline-block;
	font-size: 60px;
}

#sB {
	height: 300px;
	background-color: whitesmoke;
	background: rgba(0, 0, 0, 0.6);
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-o-border-radius: 4px;
	-ms-border-radius: 4px;
	border-radius: 4px;
	-webkit-box-shadow: inset 0px 0px 12px 2px rgba(200, 200, 200, 0.4);
	-moz-box-shadow: inset 0px 0px 12px 2px rgba(200, 200, 200, 0.4);
	-o-box-shadow: inset 0px 0px 12px 2px rgba(200, 200, 200, 0.4);
	-ms-box-shadow: inset 0px 0px 12px 2px rgba(200, 200, 200, 0.4);
	box-shadow: inset 0px 0px 12px 2px rgba(200, 200, 200, 0.4);
	-webkit-transition: all 800ms ease;
	-moz-transition: all 800ms ease;
	-o-transition: all 800ms ease;
	-ms-transition: all 800ms ease;
	transition: all 800ms ease;
}

#oC {
	height: 25%;
}

.o {
	display: table-cell;
	height: 75px;
	width: 187px;
	vertical-align: middle;
}

.vA {
	color: white;
	font-size: 40px;
	text-align: center;
}

#lFC {
	height: 300px;
}

.fE {
	verical-align: middle;
}

#lF {
	width: 206px;
	margin: 10px auto 0 auto;
}

#submit {
	width: 206px;
	height: 25px;
	padding: 0;
}

#alert {
	display: none;
	margin: 10px auto 0 auto;
	padding: 0 2px 0 2px;
	height: 20px;
	vertical-align: middle;
	background-color: #E06040;
	color: #204080;
	-moz-border-radius: 4px;
	-o-border-radius: 4px;
	-ms-border-radius: 4px;
	border-radius: 4px;
	-webkit-box-shadow: inset 0px 0px 12px 2px rgba(200, 200, 200, 0.4);
	-moz-box-shadow: inset 0px 0px 12px 2px rgba(200, 200, 200, 0.4);
	-o-box-shadow: inset 0px 0px 12px 2px rgba(200, 200, 200, 0.4);
	-ms-box-shadow: inset 0px 0px 12px 2px rgba(200, 200, 200, 0.4);
	box-shadow: inset 0px 0px 12px 2px rgba(200, 200, 200, 0.4);
	-webkit-transition: all 800ms ease;
	-moz-transition: all 800ms ease;
	-o-transition: all 800ms ease;
	-ms-transition: all 800ms ease;
	transition: all 800ms ease;
}