#mainL {
	width: 396px;
	margin-left: auto;
	margin-right: auto;
}

#get {
	text-align: center;
	width: 396px;
	color: #204080;
	-webkit-text-shadow: 1px 1px 8px rgba(0, 0, 0, 0.6);
	-moz-text-shadow: 1px 1px 8px rgba(0, 0, 0, 0.6);
	-o-text-shadow: 1px 1px 8px rgba(0, 0, 0, 0.6);
	-ms-text-shadow: 1px 1px 8px rgba(0, 0, 0, 0.6);
	text-shadow: 1px 1px 8px rgba(0, 0, 0, 0.6);
}

#started {
	margin-bottom: 0;
	color: #E06040;
	display: inline-block;
	font-size: 60px;
}

#sB {
	height: 300px;
	width:396px;
	background-color: whitesmoke;
	background: rgba(0, 0, 0, 0.6);
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-o-border-radius: 4px;
	-ms-border-radius: 4px;
	border-radius: 4px;
	-webkit-box-shadow: inset 0px 0px 12px 2px rgba(200, 200, 200, 0.4);
	-moz-box-shadow: inset 0px 0px 12px 2px rgba(200, 200, 200, 0.4);
	-o-box-shadow: inset 0px 0px 12px 2px rgba(200, 200, 200, 0.4);
	-ms-box-shadow: inset 0px 0px 12px 2px rgba(200, 200, 200, 0.4);
	box-shadow: inset 0px 0px 12px 2px rgba(200, 200, 200, 0.4);
	-webkit-transition: all 600ms ease;
	-moz-transition: all 600ms ease;
	-o-transition: all 600ms ease;
	-ms-transition: all 600ms ease;
	transition: all 600ms ease;
}

#oC {
	height: 25%;
}

.o,.vA,.un {
	display: table-cell;
	width: 198px;
	height: 75px;
	vertical-align: middle;
	-webkit-transition: all 600ms ease;
	-moz-transition: all 600ms ease;
	-o-transition: all 600ms ease;
	-ms-transition: all 600ms ease;
	transition: all 600ms ease;
	text-decoration: none;
	text-shadow: 1px 1px rgba(0, 0, 0, 0.6);
}

.vA {
	color: white;
	font-size: 40px;
	text-align: center;
	text-shadow: 1px 1px 8px rgba(0, 0, 0, 0.6);
}

.vA:hover {
	text-decoration: none;
	color: rgb(255, 255, 255);
}

.un {
	color: rgb(180, 180, 180);
}

.un:hover {
	text-decoration: none;
	color: rgb(255, 255, 255);
	background-color: rgba(64, 128, 255, 0.4);
}

#oC {
	background-color: #204080;
	min-height: 75px;
	max-height: 75px;
	-webkit-border-radius: 4px 4px 0 0;
	-moz-border-radius: 4px 4px 0 0;
	-o-border-radius: 4px 4px 0 0;
	-ms-border-radius: 4px 4px 0 0;
	border-radius: 4px 4px 0 0;
	-webkit-box-shadow: inset 0px 0px 12px 2px rgba(200, 200, 200, 0.4);
	-moz-box-shadow: inset 0px 0px 12px 2px rgba(200, 200, 200, 0.4);
	-o-box-shadow: inset 0px 0px 12px 2px rgba(200, 200, 200, 0.4);
	-ms-box-shadow: inset 0px 0px 12px 2px rgba(200, 200, 200, 0.4);
	box-shadow: inset 0px 0px 12px 2px rgba(200, 200, 200, 0.4);
}

#oL,#vA1 {
	-webkit-border-radius: 4px 0 0 0;
	-moz-border-radius: 4px 0 0 0;
	-o-border-radius: 4px 0 0 0;
	-ms-border-radius: 4px 0 0 0;
	border-radius: 4px 0 0 0;
}

#oR,#vA2 {
	-webkit-border-radius: 0 4px 0 0;
	-moz-border-radius: 0 4px 0 0;
	-o-border-radius: 0 4px 0 0;
	-ms-border-radius: 0 4px 0 0;
	border-radius: 0 4px 0 0;
}

#oR:hover,#oL:hover {
	background-color: rgba(32, 64, 200, 0.6);
}

.f {
	width: 206px;
	margin: 10px auto 0 auto;
}

.f .hFO {
	color: red;
	border: 1px solid;
	-webkit-box-shadow: 0px 0px 4px 2px rgba(255, 0, 0, 0.4);
	-moz-box-shadow: 0px 0px 4px 2px rgba(255, 0, 0, 0.4);
	-o-box-shadow: 0px 0px 4px 2px rgba(255, 0, 0, 0.4);
	-ms-box-shadow: 0px 0px 4px 2px rgba(255, 0, 0, 0.4);
	box-shadow: 0px 0px 4px 2px rgba(255, 0, 0, 0.4);
}

.f .hFO:focus {
	color: red;
	border: 1px solid;
	-webkit-box-shadow: 0px 0px 8px 2px rgba(255, 0, 0, 0.8);
	-moz-box-shadow: 0px 0px 8px 2px rgba(255, 0, 0, 0.8);
	-o-box-shadow: 0px 0px 8px 2px rgba(255, 0, 0, 0.8);
	-ms-box-shadow: 0px 0px 8px 2px rgba(255, 0, 0, 0.8);
	box-shadow: 0px 0px 8px 2px rgba(255, 0, 0, 0.8);
}

.fE {
	verical-align: middle;
}

#submit,#lSubmit {
	width: 206px;
	height: 25px;
	padding: 0;
}

#alert {
	display: none;
	margin: 10px auto 0 auto;
	padding: 0 2px 0 2px;
	height: 20px;
	vertical-align: middle;
	background-color: #E06040;
	color: #204080;
	-moz-border-radius: 4px;
	-o-border-radius: 4px;
	-ms-border-radius: 4px;
	border-radius: 4px;
	-webkit-box-shadow: inset 0px 0px 12px 2px rgba(200, 200, 200, 0.4);
	-moz-box-shadow: inset 0px 0px 12px 2px rgba(200, 200, 200, 0.4);
	-o-box-shadow: inset 0px 0px 12px 2px rgba(200, 200, 200, 0.4);
	-ms-box-shadow: inset 0px 0px 12px 2px rgba(200, 200, 200, 0.4);
	box-shadow: inset 0px 0px 12px 2px rgba(200, 200, 200, 0.4);
}

#msg {
	padding: 4px;
	background-color: #E06040;
	color: #204080;
	-moz-border-radius: 4px;
	-o-border-radius: 4px;
	-ms-border-radius: 4px;
	border-radius: 4px;
	-webkit-box-shadow: inset 0px 0px 12px 2px rgba(200, 200, 200, 0.4);
	-moz-box-shadow: inset 0px 0px 12px 2px rgba(200, 200, 200, 0.4);
	-o-box-shadow: inset 0px 0px 12px 2px rgba(200, 200, 200, 0.4);
	-ms-box-shadow: inset 0px 0px 12px 2px rgba(200, 200, 200, 0.4);
	box-shadow: inset 0px 0px 12px 2px rgba(200, 200, 200, 0.4);
}

#signUp,#signIn,#alert {
	-webkit-transition: all 800ms ease;
	-moz-transition: all 800ms ease;
	-o-transition: all 800ms ease;
	-ms-transition: all 800ms ease;
	transition: all 800ms ease;
}